In [12]:
from email.mime import base
from skimage.io import imread
import pandas as pd
import os
from utility import get_friendly_name

base_name = 'out_c00_dr10'
base_name = 'out_c90_dr90'
base_name = 'out_c00_dr90'
base_name = 'out_c90_dr10'


im_name = r'D:\images\tnia-python-images\imagesc\2025_06_02_check_ABRF_labels\{}_image.tif'.format(base_name)
label_name = r'D:\images\tnia-python-images\imagesc\2025_06_02_check_ABRF_labels\{}_label.tif'.format(base_name)

im = imread(im_name)
label = imread(label_name)

scale = [.2, .124, .124]
label_scale = [.124, .124, .124]

friendly_name = get_friendly_name(f"{base_name}_label.tif")
print(f"Friendly name: {friendly_name}")

Friendly name: nuclei4

In [13]:
import napari
viewer = napari.Viewer()
viewer.add_image(im, name='image', scale=scale)
viewer.add_labels(label, name='label', scale=label_scale)

In [14]:

data_file = r'D:\images\tnia-python-images\imagesc\2025_06_02_check_ABRF_labels\coordinate_data_deidentified.csv'

data = pd.read_csv(data_file)
data = data[data.csv_path.str.contains('nuclei', na=False)]
print(data.shape)
data.head()

(544, 7)

,x,y,z,intensity,volume,csv_path,Unnamed: 6
0,22.803,9.024,4.181,56620971.0,437.896,Q6.13/R_3Rxaf07hES8CPgE_nuclei1.csv,NaN
1,5.669,9.164,5.376,63811635.0,482.954,Q6.13/R_3Rxaf07hES8CPgE_nuclei1.csv,NaN
2,24.999,8.223,13.036,57406958.0,441.048,Q6.13/R_3Rxaf07hES8CPgE_nuclei1.csv,NaN
3,13.722,23.521,8.778,78224458.0,522.320,Q6.13/R_3Rxaf07hES8CPgE_nuclei1.csv,NaN
4,22.547,26.006,9.650,69841365.0,473.768,Q6.13/R_3Rxaf07hES8CPgE_nuclei1.csv,NaN

In [15]:
ground_truth_file = r'D:\images\tnia-python-images\imagesc\2025_06_02_check_ABRF_labels\ground_truth_coords.csv'

ground_truth = pd.read_csv(ground_truth_file)
# Display the first few rows of the ground truth data
ground_truth['base_name'] = ground_truth['path'].apply(os.path.basename)
ground_truth.head()

,Unnamed: 0,x,y,z,path,base_name
0,0,5.628644,9.198676,8.751923,../../ground truth/nuclei/out_c00_dr90_label.tif,out_c00_dr90_label.tif
1,1,22.816774,9.033185,6.689963,../../ground truth/nuclei/out_c00_dr90_label.tif,out_c00_dr90_label.tif
2,2,22.618367,26.020343,15.707744,../../ground truth/nuclei/out_c00_dr90_label.tif,out_c00_dr90_label.tif
3,3,13.676880,23.516335,14.263662,../../ground truth/nuclei/out_c00_dr90_label.tif,out_c00_dr90_label.tif
4,4,25.001824,8.219340,21.236781,../../ground truth/nuclei/out_c00_dr90_label.tif,out_c00_dr90_label.tif

In [16]:
points = ground_truth[ground_truth['base_name'].str.contains(base_name)][['z', 'y', 'x']].values

print('Points to plot:', points)

Points to plot: [[21.88063874 14.00351558 20.6314045 ]
 [ 8.0799641  13.40296701 19.15950122]
 [13.77551424 18.82212901 11.93978193]
 [22.49987225 15.31177795  6.3261934 ]
 [11.94570629  9.2898507   5.90087043]]

In [17]:
viewer.add_points(points, face_color='red', size=.5, name='ground_truth_points')

In [18]:
response_id = 'R_3Rxaf07hES8CPgE'
#response_id = 'R_3lAJ9xY4kGlL99f'
#response_id = 'R_3kpixa7Fm6wlFk2'
response_id = 'R_2rCMx6wAGE7bFJh'
responses = data[data.csv_path.str.contains(response_id, na=False)]
responses = responses[responses.csv_path.str.contains(friendly_name, na=False)]
print('Responses shape:', responses.shape)

print(responses)

Responses shape: (7, 7)
            x        y        z   intensity   volume  \
502  21.64960  15.2344  23.1471   8433100.0  626.938
503   7.28793  17.7181  31.4745   5220220.0  419.356
504  23.34300  15.9827  31.3665   7976520.0  590.929
505  13.72780  20.9929  26.3312  10662800.0  708.598
506   6.69870  10.8005  25.4992   8872170.0  649.702
507       NaN      NaN      NaN         NaN      NaN
508       NaN      NaN      NaN         NaN      NaN

                                csv_path Unnamed: 6
502  Q9.13/R_2rCMx6wAGE7bFJh_nuclei4.csv        NaN
503  Q9.13/R_2rCMx6wAGE7bFJh_nuclei4.csv        NaN
504  Q9.13/R_2rCMx6wAGE7bFJh_nuclei4.csv        NaN
505  Q9.13/R_2rCMx6wAGE7bFJh_nuclei4.csv        NaN
506  Q9.13/R_2rCMx6wAGE7bFJh_nuclei4.csv        NaN
507  Q9.13/R_2rCMx6wAGE7bFJh_nuclei4.csv        NaN
508  Q9.13/R_2rCMx6wAGE7bFJh_nuclei4.csv        NaN

In [19]:
response_points = responses[['z', 'y', 'x']].values.astype(float)
viewer.add_points(response_points, face_color='green', size=.5, name='solution_points')

In [22]:
responses['z']= responses['z']-10
viewer.add_points(responses[['z', 'y', 'x']].values.astype(float), face_color='orange', size=.5, name='response_points')

c:\Users\bnort\miniconda3\envs\stardist_napari_windows\lib\site-packages\napari\layers\points\points.py:2067: RuntimeWarning: invalid value encountered in cast
  ).astype(int)
c:\Users\bnort\miniconda3\envs\stardist_napari_windows\lib\site-packages\napari\layers\points\points.py:2090: RuntimeWarning: invalid value encountered in cast
  ).astype(int)

In [23]:
points_scaled = points*[.124/.2, 1, 1]
points_scaled

array([[13.56599602, 14.00351558, 20.6314045 ],
       [ 5.00957774, 13.40296701, 19.15950122],
       [ 8.54081883, 18.82212901, 11.93978193],
       [13.9499208 , 15.31177795,  6.3261934 ],
       [ 7.4063379 ,  9.2898507 ,  5.90087043]])

In [24]:
viewer.add_points(points_scaled, face_color='blue', size=.5, name='ground_truth_points_scaled')

c:\Users\bnort\miniconda3\envs\stardist_napari_windows\lib\site-packages\napari\layers\points\points.py:2067: RuntimeWarning: invalid value encountered in cast
  ).astype(int)
c:\Users\bnort\miniconda3\envs\stardist_napari_windows\lib\site-packages\napari\layers\points\points.py:2090: RuntimeWarning: invalid value encountered in cast
  ).astype(int)

In [74]:
response_points

array([[2.16835938, 3.47025625, 5.88859531],
       [2.35993031, 5.67132578, 6.48164634],
       [0.99721946, 5.69045482, 2.25828997],
       [3.21951461, 6.27222585, 2.06101634],
       [1.33057782, 1.44427836, 2.25909068]])

In [18]:
temp = response_points*[1, 5, 5]
viewer.add_points(temp, face_color='orange', size=.5, name='response_points_scaled')

In [85]:
# switch x and y axis in response points
temp = response_points*[4, 4, 4]
temp = temp[:, [0, 2, 1]]  # Transpose x and y
viewer.add_points(temp, face_color='purple', size=1, name='response_points_scaled_transposed')

In [77]:
temp.shape

(5, 3)

In [84]:
temp

array([[ 9.75761719, 26.49867891, 15.61615312],
       [10.61968641, 29.16740854, 25.52096603],
       [ 4.48748759, 10.16230487, 25.60704667],
       [14.48781575,  9.27457355, 28.22501634],
       [ 5.98760017, 10.16590806,  6.49925264]])