In [122]:
from email.mime import base
from skimage.io import imread
import pandas as pd
import os
from utility import get_friendly_name

base_name = 'celegans_dyn-90_ceff-0'
base_name = 'celegans_dyn-90_ceff-90'
#base_name = 'celegans_dyn-10_ceff-0'
#base_name = 'celegans_dyn-10_ceff-90'

im_name = r'D:\images\tnia-python-images\imagesc\2025_06_02_check_ABRF_labels\{}_final.ics.ome.tiff'.format(base_name)
label_name = r'D:\images\tnia-python-images\imagesc\2025_06_02_check_ABRF_labels\{}_label.ics.ome.tiff'.format(base_name)

im = imread(im_name)
label = imread(label_name)

scale = [.2, .161616, .161616]
label_scale = [.161616, .161616, .161616]

friendly_name = get_friendly_name(f"{base_name}_label.ics.ome.tiff")
print(f"Friendly name: {friendly_name}")

Friendly name: fish2

In [123]:
import napari
viewer = napari.Viewer()
viewer.add_image(im, name='image', scale=scale)
viewer.add_labels(label, name='label', scale=label_scale)

In [124]:

data_file = r'D:\images\tnia-python-images\imagesc\2025_06_02_check_ABRF_labels\coordinate_data_deidentified.csv'

data = pd.read_csv(data_file)
data = data[data.csv_path.str.contains('fish', na=False, case=False)]
print(data.shape)
data.head()

(91499, 7)

,x,y,z,intensity,volume,csv_path,Unnamed: 6
544,8.91024,19.5320,0.790119,240863.0,NaN,Q10.13/R_1M6DoAmYEY3Jrvm_fish1.csv,NaN
545,1.46720,17.2517,1.072000,174002.0,NaN,Q10.13/R_1M6DoAmYEY3Jrvm_fish1.csv,NaN
546,4.84922,18.7622,1.107680,173950.0,NaN,Q10.13/R_1M6DoAmYEY3Jrvm_fish1.csv,NaN
547,7.95575,20.6853,1.270390,179664.0,NaN,Q10.13/R_1M6DoAmYEY3Jrvm_fish1.csv,NaN
548,5.68442,19.7118,1.743760,167963.0,NaN,Q10.13/R_1M6DoAmYEY3Jrvm_fish1.csv,NaN

In [125]:
ground_truth_file = r'D:\images\tnia-python-images\imagesc\2025_06_02_check_ABRF_labels\ground_truth_coords.csv'

ground_truth = pd.read_csv(ground_truth_file)
# Display the first few rows of the ground truth data
ground_truth['base_name'] = ground_truth['path'].apply(os.path.basename)
print(ground_truth.shape)
ground_truth.head()

(6024, 6)

,Unnamed: 0,x,y,z,path,base_name
0,0,5.628644,9.198676,8.751923,../../ground truth/nuclei/out_c00_dr90_label.tif,out_c00_dr90_label.tif
1,1,22.816774,9.033185,6.689963,../../ground truth/nuclei/out_c00_dr90_label.tif,out_c00_dr90_label.tif
2,2,22.618367,26.020343,15.707744,../../ground truth/nuclei/out_c00_dr90_label.tif,out_c00_dr90_label.tif
3,3,13.676880,23.516335,14.263662,../../ground truth/nuclei/out_c00_dr90_label.tif,out_c00_dr90_label.tif
4,4,25.001824,8.219340,21.236781,../../ground truth/nuclei/out_c00_dr90_label.tif,out_c00_dr90_label.tif

In [126]:
ground_truth['z'] = ground_truth['z']*.161616/.2
ground_truth = ground_truth[ground_truth['base_name'].str.contains(base_name)]
points = ground_truth[['z', 'y', 'x']].values
print('Points shape:', points.shape)
print('Points to plot:', points)
viewer.add_points(points, face_color='red', size=.5, name='ground_truth_points')

Points shape: (1501, 3)
Points to plot: [[ 6.14871912 46.68053096 31.2572908 ]
 [10.020192   53.946      29.808     ]
 [11.636352   59.94       40.5       ]
 ...
 [ 9.858576   40.662      14.904     ]
 [ 8.88888    34.182      14.904     ]
 [ 2.585856   58.644      43.254     ]]

In [130]:
#response_id = 'R_3Rxaf07hES8CPgE'
response_id = 'R_3lAJ9xY4kGlL99f' # x and y mixed up
#response_id = 'R_3kpixa7Fm6wlFk2'
#response_id = 'R_6E6PxT3N1gr93yh' # not numbered and repeated
response_id = 'R_31bjqd6Mm8wBxN5' # scale is pixels
#response_id = 'R_2c14tLfUPR1Vnua' # z in pixels, 3993 total?  675 for 3

#response_id = 'R_1q7MrEdSr6yhykH' # scale is pixels
#response_id = 'R_24HIjcCJh6uI3bu' # scale is pixels
#response_id = 'R_24Nwgngl83ucQ8B' # doesn't exist? 
#response_id = 'R_2rCMx6wAGE7bFJh'
#response_id = 'R_2DNRFrAvCDUX1EL' 
#response_id = 'R_3RxOa8kaiyul4bG'
#response_id = 'R_2cCJjlMU7i9XjMQ'
#response_id = 'R_2DNRFrAvCDUX1EL 
#response_id = 'R_2q3KgZzjsLNwxgU'
#response_id = 'R_1qdHCwPCdNvs9xi'

responses = data[data.csv_path.str.contains(response_id, na=False)]

print('Responses shape:', responses.shape)
#responses=responses[:1000]
responses = responses[responses.csv_path.str.contains(friendly_name, na=False, case=False)]
print('Responses shape:', responses.shape)

#print(responses)
responses.head()

Responses shape: (3409, 7)
Responses shape: (112, 7)

,x,y,z,intensity,volume,csv_path,Unnamed: 6
30969,234.682927,317.243902,57.536585,1041444.0,NaN,Q11.13/R_31bjqd6Mm8wBxN5_fish2.csv,NaN
30970,240.482759,293.413793,58.344828,1302853.0,NaN,Q11.13/R_31bjqd6Mm8wBxN5_fish2.csv,NaN
30971,305.483871,377.569892,57.548387,1312429.0,NaN,Q11.13/R_31bjqd6Mm8wBxN5_fish2.csv,NaN
30972,219.324675,305.428571,57.610390,1014691.0,NaN,Q11.13/R_31bjqd6Mm8wBxN5_fish2.csv,NaN
30973,224.782051,302.269231,56.653846,1034010.0,NaN,Q11.13/R_31bjqd6Mm8wBxN5_fish2.csv,NaN

In [128]:
responses['z'] = pd.to_numeric(responses['z'], errors='coerce').fillna(0)
print(responses['x'].max(), responses['y'].max(), responses['z'].max())

373.2588235294 377.5698924731 58.3448275862

In [131]:
#responses['z'] = pd.to_numeric(responses['z'], errors='coerce').fillna(0) * 1.237 # 0.001
responses['z'] = pd.to_numeric(responses['z'], errors='coerce').fillna(0) * 0.2
responses['y'] = pd.to_numeric(responses['y'], errors='coerce').fillna(0) * 0.161616
responses['x'] = pd.to_numeric(responses['x'], errors='coerce').fillna(0) * 0.161616

In [119]:
copy = responses.copy()
responses['x'] = copy['y']
responses['y'] = copy['x']

In [133]:
response_points = responses[['z', 'y', 'x']].values.astype(float)
#response_points[:, [1,2]] = response_points[:, [2,1]]  # Swap y and x
viewer.add_points(response_points, face_color='blue', size=.5, name='solution_points')

In [60]:
responses.z = pd.to_numeric(responses.z, errors='coerce').fillna(0)

In [69]:
from utility import find_scale_and_translation

scale, translation = find_scale_and_translation(ground_truth, responses)
print(f'detected scale: {scale}, detected translation: {translation}')

detected scale: [[1.00248398 1.00248398 1.19997089]], detected translation: [[-0.15084672 -0.14348796 -0.14056566]]

In [62]:
from utility import compute_lsa_distance
gt = ground_truth[['z', 'y', 'x']].values.astype(float)
td = responses[['z', 'y', 'x']].values.astype(float)
a, b, lse_mse = compute_lsa_distance(gt, td)
print(lse_mse)

1003.0361503658219

In [63]:

from utility import find_scale_and_translation

scale, translation = find_scale_and_translation(ground_truth, responses, False)
print(f'detected scale: {scale}, detected translation: {translation}')

scale, translation = find_scale_and_translation(ground_truth, responses)
print(f'detected scale: {scale}, detected translation: {translation}')

detected scale: [[   1.66095527    1.66095527 1232.8920741 ]], detected translation: [[-41.04244341  -0.2415498   -0.11149889]]
detected scale: [[   1.5862508     1.5862508  1238.95672052]], detected translation: [[-38.24824418  -0.75863697  -0.26545262]]

In [64]:
corrected = responses.copy()

corrected['x'] = responses['x'] * scale[0,0] + translation[0,0]
corrected['y'] = responses['y'] * scale[0,1] + translation[0,1]
corrected['z'] = responses['z'] * scale[0,2] + translation[0,2]

In [65]:
tdc = corrected[['z', 'y', 'x']].values.astype(float)
viewer.add_points(tdc, face_color='blue', size=.5, name='corrected')

In [147]:
import numpy as np
test = response_points[a]
ground = points_scaled[b]

displacement =  ground - test
distance = np.sqrt(np.sum(displacement**2, axis=1))
lsa_mean = np.mean(distance)
lsa_std = np.std(distance)
lsa_mse = np.mean(distance**2)

j_distance = distance
#j_distance = np.sqrt(np.sum((displacement / [[.290] * 2 + [.182]])**2, axis=1))

tp = np.sum(j_distance <= 1)
fp = (test.shape[0] - ground.shape[0] if test.shape[0] >= ground.shape[0] else 0) \
+ np.sum(j_distance > 1)
fn = ground.shape[0] - test.shape[0] if test.shape[0] < ground.shape[0] else 0
jac = tp / (tp + fp + fn)

print(f"tp: {tp}, fp: {fp}, fn: {fn}")
print(lsa_mse)
print(jac)

tp: 1316, fp: 89, fn: 0
2.084080882544857
0.9366548042704627

In [18]:
temp = response_points*[1, 5, 5]
viewer.add_points(temp, face_color='orange', size=.5, name='response_points_scaled')

In [85]:
# switch x and y axis in response points
temp = response_points*[4, 4, 4]
temp = temp[:, [0, 2, 1]]  # Transpose x and y
viewer.add_points(temp, face_color='purple', size=1, name='response_points_scaled_transposed')

In [77]:
temp.shape

(5, 3)

In [84]:
temp

array([[ 9.75761719, 26.49867891, 15.61615312],
       [10.61968641, 29.16740854, 25.52096603],
       [ 4.48748759, 10.16230487, 25.60704667],
       [14.48781575,  9.27457355, 28.22501634],
       [ 5.98760017, 10.16590806,  6.49925264]])