In [19]:
from skimage.io import imread
import pandas as pd
import os
from utility import get_friendly_name

base_name = 'out_c90_dr90'

im_name = r'{}_image.tif'.format(base_name)
label_name = r'{}_label.tif'.format(base_name)

im = imread(im_name)
label = imread(label_name)

scale = [.2, .124, .124]
label_scale = [.124, .124, .124]

friendly_name = get_friendly_name(f"{base_name}_label.tif")
print(f"Friendly name: {friendly_name}")

Friendly name: nuclei2

In [20]:
import napari
viewer = napari.Viewer()
viewer.add_image(im, name='image', scale=scale)
viewer.add_labels(label, name='label', scale=label_scale)

In [21]:

data_file = r'coordinate_data_deidentified.csv'

data = pd.read_csv(data_file)
data = data[data.csv_path.str.contains('nuclei', na=False)]
print(data.shape)
data.head()

(544, 7)

,x,y,z,intensity,volume,csv_path,Unnamed: 6
0,22.803,9.024,4.181,56620971.0,437.896,Q6.13/R_3Rxaf07hES8CPgE_nuclei1.csv,NaN
1,5.669,9.164,5.376,63811635.0,482.954,Q6.13/R_3Rxaf07hES8CPgE_nuclei1.csv,NaN
2,24.999,8.223,13.036,57406958.0,441.048,Q6.13/R_3Rxaf07hES8CPgE_nuclei1.csv,NaN
3,13.722,23.521,8.778,78224458.0,522.320,Q6.13/R_3Rxaf07hES8CPgE_nuclei1.csv,NaN
4,22.547,26.006,9.650,69841365.0,473.768,Q6.13/R_3Rxaf07hES8CPgE_nuclei1.csv,NaN

In [22]:
ground_truth_file = r'ground_truth_coords.csv'

ground_truth = pd.read_csv(ground_truth_file)
# Display the first few rows of the ground truth data
ground_truth['base_name'] = ground_truth['path'].apply(os.path.basename)
ground_truth.head()

,Unnamed: 0,x,y,z,path,base_name
0,0,5.628644,9.198676,8.751923,../../ground truth/nuclei/out_c00_dr90_label.tif,out_c00_dr90_label.tif
1,1,22.816774,9.033185,6.689963,../../ground truth/nuclei/out_c00_dr90_label.tif,out_c00_dr90_label.tif
2,2,22.618367,26.020343,15.707744,../../ground truth/nuclei/out_c00_dr90_label.tif,out_c00_dr90_label.tif
3,3,13.676880,23.516335,14.263662,../../ground truth/nuclei/out_c00_dr90_label.tif,out_c00_dr90_label.tif
4,4,25.001824,8.219340,21.236781,../../ground truth/nuclei/out_c00_dr90_label.tif,out_c00_dr90_label.tif

In [23]:
points = ground_truth[ground_truth['base_name'].str.contains(base_name)][['z', 'y', 'x']].values
print('Points to plot:', points)
viewer.add_points(points, face_color='red', size=.5, name='ground_truth_points')

points_scaled = points*[.124/.2, 1, 1]
points_scaled
viewer.add_points(points_scaled, face_color='blue', size=.5, name='ground_truth_points_scaled')

Points to plot: [[14.32452416 20.66721831 23.21402827]
 [ 7.07436442 16.38500694 17.13494687]
 [18.43247991 12.88932978 15.47183664]
 [10.69533726 13.53573209  7.89428851]
 [10.99361676  4.07232747  7.5495818 ]]

In [ ]:
response_id = 'R_3kpixa7Fm6wlFk2'
responses = data[data.csv_path.str.contains(response_id, na=False)]
responses = responses[responses.csv_path.str.contains(friendly_name, na=false)]
print(responses)
response_points = responses[['z', 'y', 'x']].values.astype(float)
viewer.add_points(response_points, face_color='green', size=.5, name='solution_points')

             x          y          z     intensity     volume  \
237  16.516616  16.055415   4.527207  8.391065e+07  311.41728
238   7.762065  13.079686   6.582166  1.330768e+08  393.16320
239   7.405012   4.023586   6.721949  8.708195e+07  323.89344
240  22.515173  20.029281   8.721849  1.162233e+08  357.90624
241  15.007630  12.487325  11.283053  9.276081e+07  317.14560

                                csv_path Unnamed: 6
237  Q7.13/R_3kpixa7Fm6wlFk2_nuclei2.csv        NaN
238  Q7.13/R_3kpixa7Fm6wlFk2_nuclei2.csv        NaN
239  Q7.13/R_3kpixa7Fm6wlFk2_nuclei2.csv        NaN
240  Q7.13/R_3kpixa7Fm6wlFk2_nuclei2.csv        NaN
241  Q7.13/R_3kpixa7Fm6wlFk2_nuclei2.csv        NaN